#backgroundLabel{
    -fx-background-color: lightblue;
}
.chart-legend {
    -fx-background-color: #00ebdf;
}
.button{
    -fx-background-color: teal;
    -fx-text-fill: white;
}
.button:hover{
    -fx-background-color: turquoise;
    -fx-text-fill: black;
}
#DBOnlineLabel{
    -fx-text-fill: green;
    -fx-text-alignment: right;
}
#dbSizeLabel{
    -fx-text-alignment: right;
    -fx-text-fill: green;
}
#headingLabel{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-alignment: center;
}
#accountLabel{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}
#addAdminButton{
    -fx-background-color: green;
}
#addAdminButton:hover{
    -fx-background-color: darkgreen;
}
#reloadButton{
    -fx-background-color: darkgrey;
}
#reloadButton:hover{
    -fx-background-color: grey;
}
.table-row-cell:hover {
    -fx-background-color: lightblue;
    -fx-text-background-color: black;
}

